body {
    background-color: black;
    font-family: 'Open Sans Condensed';
    font-size: 18px;
}
input {
    font-family: 'Open Sans Condensed';
    font-size: 18px;    
}
.postcard {
    background-color: white;
    width: 500px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}
.postcard-header {
    overflow: hidden;
}
.postcard-header img {
    max-width: 60px;
    float: right;
}
.postcard h1 {
    margin: 0px;
    font-size: 44px;
}
.postcard-body {
    overflow: hidden;
}
.body-left {
    float: left;
    width: 50%;
}
.body-right {
    float: right;
    width: 45%;
}
.body-right input {
    display: block;
    border-width: 0px 0px 1px 0px;
    padding-top: 10px;
    margin-top: 10px;
    width: 90% ;
}
.postcard-footer {
    padding: 20px;
    text-align: center;
}
.postcard-footer input[type=submit] {
    padding: 5px;
    border-width: 0px 0px 1px 0px;
    border-color: gray;
    background: lightgrey;
    color: black;
}